{% extends 'layout.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        Upload photo
    </h2>
    <hr>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    <form action="{{ url('/photos/upload', {'idproject': idproject}) }}" {{ form_enctype(form) }} method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}