{% block title 'Image Gallery - ' %}

    {% block content %}
        <h2>Image Gallery</h2>
        {% for item in images %}
            <img src="{{ app.request.baseUrl }}/img/{{ item }}"><br>
        {% else %}
            <p><strong>Sorry, no images were found.</strong></p>
        {% endfor %}
        <br><br>
        <a href="{{ app.request.baseUrl }}/">Upload some images &raquo;</a>
    {% endblock %}