{% extends 'layout.twig' %}

<hr>
<h2 class="intro-text text-center">
    delete feedback
</h2>
<hr>
    <div>
        <h3>Czy na pewno chcesz usunąć ten komentarz?</h3>
        <form action="#" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" value="Tak"/>
            <button onclick="{{ redirect }}">Nie</button>
        </form>
    </div>

{% endblock %}