{% block comments %}
<p>
   <a href="{{ url('/comments/add', {'idpost': idpost}) }}" title="Add comment">
            <button type="button" class="btn btn-success">Add Comment</button>
   </a>
</p>
            {% for comment in comments %}
                <div class="col-lg-12 text-center">
                <p>
                    <p class="text-center">
                       <small> {{ comment.published_date|e }}</small>
                    </p>
                    <p>
                        {{ comment.content|e }}
                    </p>
                </p>

                <p>
                    <a href="{{ url('/comments/edit', {'id': comment.idcomment}) }}" title="Edit comment">
                        <button type="button" class="btn btn-warning">Edit comment</button>
                    </a>
                    <a href="{{ url('/comments/delete', {'id': comment.idcomment}) }}" title="Delete comment">
                        <button type="button" class="btn btn-danger">Delete comment</button>
                    </a>
                </p>
                <hr>
                </div>
            {% endfor %}
{% endblock %}
