<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ app.request.basepath }}/fx/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ app.request.basepath }}/fx/js/bootstrap.js"></script>
	<script src="{{ app.request.basepath }}/fx/js/jquery-1.10.2.js"></script>
</head>
<body>
<div id="content">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('/auth/logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('/auth/login') }}">Login</a>
    {% endif %}
    {% block content %}{% endblock %}
</div>
</body>
</html>

