<div class="container">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('/pages/aboutme') }}">About me</a>
            </li>
            <li>
                <a href="{{ path('/posts/') }}">Blog</a>
            </li>
            <li>
                <a href="{{ path('/projects/') }}">Portfolio</a>
            </li>
            <li>
                <a href="{{ path('/pages/contact') }}">Contact</a>
            </li>
            <li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') == NULL%}
                    <a href="{{ path('/auth/login') }}">Login</a>
                {% endif %}
            </li>
            <li>
                {% if is_granted('IS_AUTHENTICATED_FULLY')==NULL %}
                    <a href="{{ path('/users/add') }}">Sign up</a>
                {% endif %}
            </li>

        </ul>
    </div>
</div>
