<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Content manager <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('/posts/add') }}">Add Post</a>
                    </li>
                    <li>
                        <a href="{{ path('/projects/add') }}">Add Project</a>
                    </li>
                    <li><a href="{{ path('/pages/editaboutme') }}">About me</a></li>
                    <li><a href="{{ path('/pages/editcontact') }}">Contact</a></li>
                </ul>
            <li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Control panel <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('/tags/controlpanel') }}">Manage Tag</a></li>
                    <li><a href="{{ path('/categories/controlpanel') }}">Manage Category</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit profile</a></li>
                    <li><a href="">Change password</a></li>
                    <li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('/auth/logout') }}">Logout</a>
                    {% endif %}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
