{% extends 'layout.twig' %}

{% block content %}
    <div class="col-lg-12 text-center">
        <div class=" text-center">

                {{ render( path('/photos/',{'idproject': project.idproject})) }}
        </div>
            <hr>
            <h2 class="intro-text text-center">
                <a href="{{ url('/projects/view', {'id': project.idproject}) }}" title="View project">
                    {{ project.title|e }}
                </a>
            </h2>
            <hr>

            <div>
                {{ render( path('/rates/view',{'idproject': project.idproject})) }}
            </div>
            <a href="{{ url('/rates/add', {'idproject': project.idproject}) }}" title="Add rate">
                <button type="button" class="btn btn-success">Add Rate</button>
            </a>
            <hr>
        <p>{{ project.description|e }}</p>
        <hr>
        <p>
            <a href="{{ url('/photos/upload', {'idproject': project.idproject}) }}" title="Add Photos">
                <button type="button" class="btn btn-success">Add Photos</button>
            </a>
            <a href="{{ url('/projects/edit', {'id': project.idproject}) }}" title="Edit project">
                <button type="button" class="btn btn-warning">Edit project</button>
            </a>
            <a href="{{ url('/projects/delete', {'id': project.idproject}) }}" title="Delete project">
                <button type="button" class="btn btn-danger">Delete project</button>
            </a>
        </p>
    </div>
{% endblock %}
{% block feedback %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    <div>
        {{ render( path('/feedback/',{'idproject': project.idproject})) }}
    </div>
{% endblock %}