{% block comments %}
<p>
   <a href="{{ url('/tags/manage', {'idpost': idpost}) }}" title="Add tag">
            <button type="button" class="btn btn-success">Add Tag</button>
   </a>
</p>
            {% for tag in tags %}
                <div class="col-lg-12 text-center">
                    <p>
                        {{ tag.title|e }}
                    </p>
                </p>

                <p>
                    <a href="{{ url('/tags/edit', {'idtag': tag.idtag}) }}" title="Edit tag">
                        <button type="button" class="btn btn-warning">Edit tag</button>
                    </a>
                    <a href="{{ url('/tags/delete', {'idtag': tag.idtag}) }}" title="Delete tag">
                        <button type="button" class="btn btn-danger">Delete tag</button>
                    </a>
                </p>
                <hr>
                </div>
            {% endfor %}
{% endblock %}
