{% extends 'layout.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        Edit post
    </h2>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
    <a href="{{ url('/tags/connect', {'idpost': idpost}) }}" title="Add tag">
        <button type="button" class="btn btn-success">Add tag</button>
    </a>
{% endblock %}