{% extends 'layout.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">Register</h2>
    <hr>

    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    <form action="" method="post" >
        {{ form_widget(form) }}
        <input class="btn btn-info" type="submit" name="submit">
    </form>
{% endblock %}