{% extends 'layout.twig' %}

{% block content %}
    <h1>
        Change password
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
{% endblock %}