{% extends 'layout.twig' %}

{% block content %}
    <a href="{{ url('/posts/view', {'id': post.idpost}) }}" title="View post">
        <h2>
            {{ post.title|e }}
        </h2>
    </a>
        <p>
        <p>
            {{ post.published_date|e }}
            {{ post.idcategory|e }}
        </p>
        <p>
            {{ post.content|e }}
        </p>
    <p>
        <a href="{{ url('/posts/edit', {'id': post.idpost}) }}" title="Edit post">
            <button type="button" class="btn btn-warning">Edit post</button>
        </a>
        <a href="{{ url('/posts/delete', {'id': post.idpost}) }}" title="Delete post">
            <button type="button" class="btn btn-danger">Delete post</button>
        </a>
    </p>
    </p>
{% endblock %}
{% block comments %}{% endblock %}